<footer class="footer">
  <div class="container">
  	<div class="row">
	  	<div class="col-md-6">
	      <p>All right are reserved by &copy;2019</p>
	    </div>
		 <!--  <div class="col-md-6">
		  	<%= social_share_button_tag(:desc=> "summary of the app")%>
		  </div> -->
	  </div>
  </div>
</footer>