<div class="container-fulid">
	<div class="homeimage-container">
		<!--<%= image_tag "homeimage.jpeg",class: "img-responsive homeimage" %>-->
		<div class="home-content">
			<div>
				Forkly
			</div>
			<div>
				Share your tastes&
			</div>
			<div>
				Discover new ones
			</div>
		</div>
	</div>
</div>