.create-user {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin-right: 10px;
}
.create-user:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
	color: white;
}
.create-user:active {
	position:relative;
	top:1px;
}
#user-table_filter input,#dish-table_filter input{
	width: 250px;
	border-radius: 4px;
	border:2px solid #efefef;
	padding: 4px;
	font-size: 18px;
}
.user-btns{
	background-color:#e4685d;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:12px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.user-btns:hover {
	background-color:#eb675e;
}
.user-btns:active {
	position:relative;
	top:1px;
}
#user-show-btn{
	box-shadow:inset 0px 39px 0px -24px #dcecfb;
	background-color:#bddbfa;
	border:1px solid #84bbf3;
}
#user-edit-btn{
	box-shadow:inset 0px 39px 0px -24px #73a65b;
	background-color:#77b55a;
	border:1px solid #4b8f29;
}
#user-delete-btn{
	box-shadow:inset 0px 39px 0px -24px #e4685d;
	background-color:#e4685d;
	border:1px solid #e4685d;
}
.admin-user-name{
	text-transform: capitalize;
	color: #687a86;
	font-size: 18px;
	font-family: Dosis;
}
#user-table_length,#dish-table_length{
	width: 400px;
}
#user-table_length select,#dish-table_length select{ 
	width: 100px;
	height: 30px;
	padding: 4px 10px;
	border-radius: 6px;
	border:1px solid #B4AEA1;
 };
.user-edit-btns {
	background-color:#5d9e3d;
	border-radius:11px;
	border:1px solid #4c9627;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 11px;
	text-decoration:none;
	text-shadow:-1px 0px 0px #2f6627;
	margin-left: 10px;
}
.user-edit-btns:hover {
	background-color:#5d9e3d;
}
.user-edit-btns:active {
	position:relative;
	top:1px;
}
#user-cancel-btn{
	background-color:#768d87;
	border:1px solid #566963;
	text-shadow:-1px 0px 0px #2b665e;
}
#user-cancel-btn:hover {
	background-color:#6c7c7c;
}
.delete-btn{
	background:linear-gradient(to bottom, #b31b1b 5%, #b31b1b 100%);
	background-color:#b31b1b;
	border:1px solid #942645;
	text-shadow:-1px 0px 0px #3d689c;
}
.delete-btn:hover{
	background:linear-gradient(to bottom, #b31b1b 5%, #b31b1b 100%);
	background-color:#b31b1b;
	color: white;
}
.user-modal-dialog {
  width: 40%;
  margin-left: 50%;
}
.edit-modal{
  width: 80%;  
}
.form-wrapper{
	display: flex;
  justify-content: center;
  align-items: center;
}
.user-form-container{
  width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
  border: 1px solid #e6e6e6;
  padding: 25px;
}
.form-title{
	font-family: Montserrat-Bold;
  font-size: 20px;
  line-height: 0.5;
  text-transform: uppercase;
  width: 100%;
  min-height: 28px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.contact100-form {
  width: 100%;
  padding: 40px;
}
.user-input {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 15px;
  height: 45px;
}
.user-input-field {
  display: block;
  background: 0 0;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333;
  outline: none;
  border: none;
}
.user-label-input span {
  font-size: 18px;
  color: #999;
  background-color: white;
  border:none;
  outline: none;
}
.user-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 17px;
}
.user-submit-btn {
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background:#64c3c2;
}
