@import "bootstrap";
@import "home";
@import "dishes";
@import "reviews"; 
@import "social-share-button";
@import "rails-social-share-button";
@import "jquery-ui";
@import "font-awesome";
@import "toastr";
/*@import "style";*/
@import "admin";
@import "admin_user";
$size: 28px;
@import "admin_dishes";
@import "users";
@import "dataTables/jquery.dataTables";

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
